:root {
  --accent-orange: #f6b83d;
  --bg-cream: #fff4df;
  --light-white: #ffffff;
  --error-red: #ef2447;
  --success-green: #08aa83;
  --neutral-bg: #f9f9f9;
  --bg-female: rgba(244, 63, 94, 0.1);
  --bg-female-selected: #f43f5e;
  --bg-male: rgba(84, 173, 255, 0.1);
  --bg-male-selected: #54adff;
  --gray-900: #262626;
  --light-grey: #f2f4f7;
  --grey-20: rgba(38, 38, 38, 0.2);
  --grey-30: rgba(38, 38, 38, 0.3);
  --grey-40: rgba(43, 43, 42, 0.4);
  --grey-15: rgba(38, 38, 38, 0.15);
  --grey-06: rgba(38, 38, 38, 0.6);
  --grey-05: rgba(38, 38, 38, 0.5);
  --grey-005: rgba(38, 38, 38, 0.05);
}
