/* Контейнер выбора */
.custom-select__control {
	cursor: pointer;
	height: 42px;
	padding: 0 4px;
	border: 1px solid var(--grey-15);
	border-radius: 30px;
	background-color: transparent;
	transition: border-color 250ms linear;
	outline: none;
}

.custom-select__control:hover,
.custom-select__control:focus {
	border-color: var(--accent-orange);
}

@media screen and (min-width: 768px) {
	.custom-select__control {
		height: 52px;
	}
}

/* Отображаемое значение */
.custom-select__single-value {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #101828;
}

/* Элемент опции */
.custom-select__option {
	display: flex;
	align-items: center;
	height: 26px;
	padding: 0 12px;
	border-radius: 15px;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.28;
	letter-spacing: -0.03em;
	background-color: var(--light-white);
	color: var(--grey-06);
}

.custom-select__option--is-selected {
	color: var(--gray-900);
}

.custom-select__option:hover {
	background-color: var(--light-grey);
}

@media screen and (min-width: 768px) {
	.custom-select__option {
		height: 142px;
	}
}

/* Список опций */
.custom-select__menu-list {
	max-height: 78px;
	padding: 12px 0;
	border: 1px solid var(--grey-15);
	border-radius: 15px;
	box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
	background-color: var(--light-white);
}

/* Плейсхолдер */
.custom-select__placeholder {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.28;
	letter-spacing: -0.03em;
	color: var(--grey-05);
}

@media screen and (min-width: 768px) {
	.custom-select__placeholder {
		font-size: 16px;
		line-height: 1.25;
	}
}

/* Убираем разделитель */
.custom-select__indicator-separator {
	display: none;
}

/* Иконка раскрытия */
.custom-select__dropdown-indicator {
	pointer-events: none;
	position: absolute;
	top: 50%;
	right: 2px;
	transform: translateY(-50%);
	transition: transform 250ms linear;
}

.custom-select__dropdown-indicator.custom-select__dropdown-indicator--menu-is-open {
	transform: translateY(-50%) rotate(180deg);
}

/* Очистка */
.custom-select__clear-indicator {
	padding-right: 20px;
}
